<h1> About Page</h1>
<div class="container">
    <div class="about-section" id="feature-sec">
      <h1>
      How it started
      </h1>
      <p>
      It all started when 4 computer Science friends sat together generally had a 
      conversation about building a funky application from our own interests.Then one person 
      from the group gave a random idea about selling personal diaries for  people
      to read coz why not everybody love knowing about other people's personal life.
      </p>
      <p>
      And we also wanted to raise funds for a good cause to make a real difference in their communities
      it was challenging for us to take collect different genre diaries and raise funds
      due to lack of expertise , resources and time but we together teamed up divided our
      work helped and learned from each other to make this idea a success.
      </p>

       <h1 class="">
       How it works
      </h1>
      <>p
      The main goal is to develop a web application that allows the users to bid on their 
      liked personal diaries according to their preferences like celebrity personal lives, 
      Commoners life experience, Mental health and much more according to thier area of interest
      user can upload their own jounals, can bid on other peoples journals users cannot bid
      on his own journals, and users need to have a minimum amount in his wallet in order to enter the bid.
      </p>
      <p>
      Here you can buy or upload diary/journal bid on it in a given
      period of time. this website eliminates sofesticated in-person and online auction
      website is built as simple as possible for you to get you up without the help of 
      a tech team.
      </p>
    </div>  
</div>

<style>
	.container {
    width: 970px;
}
about-section {
    display: table;
    float: right;
    margin-bottom: 70px;
}
.about-section p {
    font-size: 18px;
    color: #0e559f;
    font-family: sans-serif;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 25px;
}

</style>